<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.marmeto.user.tredy">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <!-- Always required on api < 21, needed to keep a wake lock while your job is running -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Required on api < 21 if you are using setRequiredNetworkType(int) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Required on all api levels if you are using setPersisted(true) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application

        android:name="com.marmeto.user.tredy.App"
        tools:replace="android:allowBackup"
        android:allowBackup="true"
        android:icon="@drawable/tredylogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tredylogo"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.marmeto.user.tredy.login.LoginActiviy"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|keyboardHidden|navigation|screenLayout|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.marmeto.user.tredy.Navigation"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|navigation|screenLayout|screenSize"/>
        <activity android:name="com.marmeto.user.tredy.bag.PayUMoneyActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|navigation|screenLayout|screenSize"/>
        <activity android:name="com.marmeto.user.tredy.login.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|navigation|screenLayout|screenSize"/>
        <activity android:name="com.marmeto.user.tredy.ccavenue.InitialActivity" />
        <activity android:name="com.marmeto.user.tredy.ccavenue.WebViewActivity" />
        <activity android:name="com.marmeto.user.tredy.ccavenue.StatusActivity" />


        <activity android:name="com.marmeto.user.tredy.login.ForgotPassword" />
        <activity android:name="com.marmeto.user.tredy.notification.NotificationDataFragment" />

        <receiver android:name="com.marmeto.user.tredy.ccavenue.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.marmeto.user.tredy.networkCheck.NetworkSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name="com.marmeto.user.tredy.Fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.marmeto.user.tredy.Fcm.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d3ea14f2460d1d35139fe7a9f570c35b4e7f4eb0" />
    </application>

</manifest>